body {
  max-width: 80%;
  font-family: sans-serif;
  margin: 0 auto;
  font-size: 18px;
}

h1 {
  letter-spacing: 0.2em;
}

h2 {
  letter-spacing: 0.2em;
}

.clicky {
  color: #be5959;
  cursor: pointer;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

a:visited,
a:link,
a:hover {
  color: #be5959;
  text-decoration: none;
}

.heading {
  font-size: 1.4em;
  letter-spacing: 0.3em;
  font-style: italic;
}

#Msg-overlay-foo {
  background-color: rgba(61, 157, 192, 0.7) !important;
}

.Msg-window-bar {
  background-color: #ffff62 !important;
}

.Msg-content-bar {
  padding-top: 1em !important;
  line-height: 2em !important;
  font-size: 1.4em !important;
}

.Msg-titlebar-bar {
  background-color: #589958 !important;
  color: white !important;
  font-size: 1.25em !important;
}

#Msg-content-boom {
  padding: 0 !important;
}

img {
  max-width: 100%;
}

.btn {
  color: white;
  background-color: orange;
  border-color: orange;
  font-size: 1.8em;
  padding: 1em;
  cursor: pointer;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.Msg-content-no-padding {
  padding: 0 !important;
}

textarea {
  font-size: 1.2em;
  width: 20em;
  border: 0.05em solid black;
}

#canv {
  max-width: 100%;
  display: none;
}

.big {
  font-size: 1.8em !important;
}

.unselectable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

input[type="text"] {
  width: 4em;
  text-align: center;
  font-size: 0.8em;
}

select {
  font-size: 0.8em;
}

#Msg-content-container-toy {
  overflow: hidden !important;
}

#Msg-content-toy {
  padding: 0 !important;
}

.snack_msg {
  padding-right: 200px;
  float: left;
}

.snack_btn {
  color: #5fce49;
  text-transform: uppercase;
  letter-spacing: 3px;
  cursor: pointer;
  float: right;
}

.snack_btn2 {
  color: #7f7fef;
  text-transform: uppercase;
  letter-spacing: 3px;
  cursor: pointer;
  float: right;
}

#spinner {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.snack_container {
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

#Msg-window-window {
  background-color: purple;
  color: white !important;
}

#Msg-content-window {
  font-size: 2em !important;
  line-height: 1.2em !important;
}

.scroller_container {
  max-height: 100vh;
  overflow: auto;
}

.scroller {
  padding: 2em;
}
